body{
    background: #1C82AD;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.contenedor-header{
    width: 100%;
    height: 20%;
    background: #00337C;
    display: flex;
}
.logo{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;

}
.titulo{
    display: inline-block;
    text-align: center;
    
}